<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.mortar"
android:versionCode="1"
android:versionName="1.0">

<uses-sdk
    android:minSdkVersion="19"
    android:targetSdkVersion="20"/>

<uses-permission android:name="android.permission.INTERNET" />

<application
    android:label="Mortar"
    android:icon="@drawable/mortar_icon"
    android:name=".DemoApplication"
    >
    <activity
        android:launchMode="singleTop"
        android:name=".DemoActivity"
        android:theme="@style/Theme.Sherlock.Light.DarkActionBar">

        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
</application>

</manifest>
